<div>
  <mat-toolbar color="primary" class="app-header">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidebar.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img ngSrc="assets/logo-white.svg" alt="actonawa-logo-white" height="64" width="64" priority>
      <h1>ACONAWA</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container [hasBackdrop]=false class="app-container">
    <mat-sidenav #sidebar mode="side" class="app-sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="visualization/active-conflict-awareness">
          <mat-icon>account_tree</mat-icon>
          Active Conflict Awareness
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="setting/repository">
          <mat-icon>settings</mat-icon>
          Settings
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
