<ng-container *ngIf="commit">

  <div><strong>Id:</strong></div>
      <div>{{commit.id}}</div>

  <div><strong>Sha:</strong></div>

  <div>{{commit.sha}}</div>
      <div><strong>Author:</strong></div>

  <div>{{commit.authorName}} &lt;{{commit.authorEmail}}&gt;</div>

  <div><strong>Date:</strong></div>

  <div>{{commit.commitDate}}</div>

  <div><strong>Message:</strong></div>

  <div>{{commit.message}}</div>

  <div><strong>Branches:</strong></div>

  <div class="branch-tag-container">
            <span class="branch-tag" *ngFor="let branch of branches">
          {{branch?.name}}
        </span>
      </div>
</ng-container>
