.metadata-info-file-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  div {
    flex-basis: 100%;
  }
}

.mat-expansion-panel-body {
  z-index: 0;
}

.tab-segment {
  padding-top: 1em;
  padding-bottom: 1em;
}

.mat-mdc-select-value-text {
  white-space: normal !important;
  font-size: smaller;
  overflow: visible;
  text-overflow: unset;
}

.mat-mdc-option {
  font-size: smaller !important;
}

.mat-mdc-form-field-infix {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  min-height: 1em !important;
  line-height: 1em !important;
  width: fit-content !important;
}

.file-picker-select-form-field {
  width: 100%;
}

.file-picker-option {
  font-size: smaller;
}
