<div class="metadata-info-row">
  <div class="metadata-info-entry">
    <div><strong>Changed Line Database Id</strong></div>
    <div>{{lines?.id}}</div>
  </div>
</div>
<div class="metadata-info-row">
  <div class="metadata-info-entry">
    <div><strong>Old start line</strong></div>
    <div>{{lines?.oldStartLine}}</div>
  </div>
  <div class="metadata-info-entry">
    <div><strong>Old line count</strong></div>
    <div>{{lines?.oldLineCount}}</div>
  </div>
</div>
<div class="metadata-info-row">
  <div class="metadata-info-entry">
    <div><strong>New start line</strong></div>
    <div>{{lines?.newStartLine}}</div>
  </div>
  <div class="metadata-info-entry">
    <div><strong>New line count</strong></div>
    <div>{{lines?.newLineCount}}</div>
  </div>
</div>
