@import 'common';

.patch-viewer-container {
  padding: 1em;
  height: calc(100vh - $actconawa-navbar-height - $actconawa-container-standard-margin - 4em);
}

.patch-viewer {
  overflow: auto;
  height: 100%;
}

.no-changes-hint {
  padding: 10px;
  margin-top: 20em;
  text-align: center;
}
