/* You can add global styles to this file, and also import other style files */
@import 'styles/roboto.scss';
@import 'styles/material-icons.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-grid-tile-content {
  justify-content: space-between !important;
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: #ff0000;
    --mat-snack-bar-button-color: #fff;
  }
}

.dialog-100vw {
  width: 100vw;
}
