.commit-interaction-accordion-container {
  margin: 2em;
  overflow: hidden;
}

.git-graph-card {
  margin: 2em;
  padding: 1em;
  height: 600px;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
