@import 'common';

.commit-interaction-accordion-container {
  margin: $actconawa-container-standard-margin;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 30%;
  @media #{$mat-gt-sm} {
    flex-basis: 30%;
    max-height: calc(100vh - $actconawa-navbar-height - $actconawa-container-standard-margin);
  }
  min-width: 30em;
}

.commit-graph-help-container {
  margin: $actconawa-container-standard-margin;
  overflow: hidden;
  width: 20%;
  max-height: calc(100vh - $actconawa-navbar-height - $actconawa-container-standard-margin);
}

.commit-interaction-toggle {
  position: absolute;
  left: 0.5em;
  top: 0.3em;
  z-index: 999;
}

.help-toggle {
  position: absolute;
  right: 0.5em;
  top: 0.3em;
  z-index: 999;
}

.commit-graph-card {
  height: calc(100vh - $actconawa-navbar-height - $actconawa-container-standard-margin);
  margin: $actconawa-container-standard-margin;
  overflow: hidden;
  padding: 1em;

  .commit-graph-interaction-btns {
    display: flex;
    position: absolute;
    right: 35%;
    z-index: 9999;
  }
}


.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - $actconawa-navbar-height - $actconawa-container-standard-margin);
}

.action-card {
  margin: 1em 0;
  position: sticky;
  bottom: 0;
}
