@import 'common';

.commit-interaction-accordion-container {
  margin: $actconawa-container-standard-margin;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  @media #{$mat-gt-sm} {
    flex-basis: 40%;
    max-height: calc(100vh - $actconawa-navbar-height - $actconawa-container-standard-margin);
  }
  min-width: 30em;
}

.commit-graph-card {
  margin: $actconawa-container-standard-margin;
  overflow: hidden;
  padding: 1em;
  height: calc(100vh - $actconawa-navbar-height - $actconawa-container-standard-margin);
  display: flex;
  @media #{$mat-gt-sm} {
    flex-basis: 60%;
    width: 100%;
  }
  @media #{$mat-lt-md} {
    width: auto;
    flex-direction: column;
  }
}

.active-conflict-awareness-flex-container {
  display: flex;
  justify-content: space-between;
  @media #{$mat-gt-sm} {
    flex-direction: row;
    height: calc(100vh - $actconawa-navbar-height);
  }
  @media #{$mat-lt-md} {
    flex-direction: column;
  }
  flex-direction: row;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - $actconawa-navbar-height - $actconawa-container-standard-margin);
}
